version: "3.9"

services:
  nginx:
    build:
      context: requirements/nginx/
    container_name: nginx
    ports:
      - "443:443"
    image: nginx:42
    restart: on-failure
    depends_on:
      wordpress:
        condition: service_started
    networks:
      - app
    volumes:
      - wordpress_vol:/var/www/html/wordpress
  wordpress:
    container_name: wordpress
    build:
      context: requirements/wordpress
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_ROOT_PASS: ${DB_ROOT_PASS}
        WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
        WP_ADMIN_USER: ${WP_ADMIN_USER}
        WP_ADMIN_PASS: ${WP_ADMIN_PASS}
        WP_URL: ${WP_URL}
        WP_USER: ${WP_USER}
        WP_EMAIL: ${WP_EMAIL}
        WP_PASS: ${WP_PASS}
    env_file:
      - ./.env
    networks:
      - app
    depends_on:
      mariadb:
        condition: service_started
    volumes:
      - wordpress_vol:/var/www/html/wordpress
  mariadb:
    build:
      context: ./requirements/mariadb/.
      args: 
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_ROOT_PASS: ${DB_ROOT_PASS}
    container_name: mariadb
    env_file:
      - ./.env
    networks:
      - app
    volumes:
      - mariadb_vol:/var/lib/mysql
    

volumes:
  mariadb_vol:
  wordpress_vol:

networks:
  app:
    driver: bridge
